[MASTER]

ignore=stubs

[MESSAGES CONTROL]

disable=duplicate-code,
        missing-module-docstring,
        no-member,
        no-name-in-module,
        no-self-use,
        too-few-public-methods,
        too-many-arguments,
        too-many-locals,
        too-many-return-statements,
        too-many-instance-attributes,

[BASIC]

no-docstring-rgx=^_|^test_|^Test

[FORMAT]

argument-rgx=[a-z][a-z0-9_]*$
attr-rgx=_{0,2}[A-Za-z_][A-Za-z0-9_]*$
variable-rgx=[A-Za-z_][A-Za-z0-9_]*$
