[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
google-api-core = "*"
google-cloud-bigquery = "*"
googleapis-common-protos = "*"
grpcio = "*"
isort = "*"
mypy = "*"
openpyxl = "*"
pandas = "*"
protobuf = "*"
pyathena = "*"
pyarrow = "*"
pylint = "<3.0.0"
requests = "*"
setuptools = "*"
snowflake-connector-python = "*"
snowflake-sqlalchemy = "*"
sqlalchemy = "*"
sqlalchemy-bigquery = "*"
tqdm = "*"
twine = "*"
types-protobuf = "*"
types-python-dateutil = "*"
types-requests = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.8"
